form h2 {
  /* margin-left: 0; */
}

.label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  margin-right: 1em;
  /* margin-left: 0.5em; */
  display: flex;
  justify-content: space-around;
  /* gap: 2em; */
}
